/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='n'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='backupset'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='backupmediafamily'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sp_delete_backuphistory'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sp_help_operator'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sp_help_job'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sp_GET_sqlagent_properties'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='value' and @Schema='record'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_wait_sessions'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_TempForLogFile'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_TempForFreeSpace'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_TempForFileStats'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_TempForDataFile'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_table_list_aux'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_table_list'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_systables'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_SQLAnalyze_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_spaceused'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_Replication_Status'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_MAINTENANCE_MAIN_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_Main_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_LongRunningQueries'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_LOGINS_MAIN_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_LNav2_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_INSTANCE_MAIN_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_drives'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_dba_path'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_DATABASES_MAIN_htm'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='tb_blocked'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysschedules'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysmaintplan_subplans'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysmaintplan_plans'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysmaintplan_logdetail'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysmaintplan_log'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='SQLAnalyze']/UnresolvedEntity[@Name='syslogins'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysjobsteps'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysjobschedules'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysjobs'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysjobhistory'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysdtspackages90'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='PIQUETURDB']/Database[@Name='msdb']/UnresolvedEntity[@Name='sysdtspackagefolders90'] ******/
GO
USE [SQLAnalyze]
GO
/****** Object:  Table [dbo].[dba_diskdrivespace]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dba_diskdrivespace](
	[drive] [char](1) NULL,
	[mbdiskspace] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dba_diskfreespace]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dba_diskfreespace](
	[drive] [char](1) NULL,
	[snapdate] [smalldatetime] NULL,
	[mbfreespace] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_blocked]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_blocked](
	[resource_type] [nvarchar](max) NULL,
	[database] [nvarchar](128) NULL,
	[blk object] [bigint] NULL,
	[request_mode] [nvarchar](60) NULL,
	[request_session_id] [int] NULL,
	[waiter_text] [nvarchar](max) NULL,
	[blocking_session_id] [int] NULL,
	[blocker_text] [nvarchar](max) NULL,
	[data] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_DATABASES_MAIN_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DATABASES_MAIN_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_dba_path]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_dba_path](
	[diretorio] [varchar](100) NOT NULL,
	[caminho] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_instance_availability]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_instance_availability](
	[track_availability_id] [int] IDENTITY(1,1) NOT NULL,
	[instance_name] [varchar](100) NOT NULL,
	[downtime_start] [datetime] NULL,
	[downtime_end] [datetime] NULL,
 CONSTRAINT [PK_tb_instance_availability] PRIMARY KEY NONCLUSTERED 
(
	[track_availability_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_INSTANCE_MAIN_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_INSTANCE_MAIN_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_instance_restart]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_instance_restart](
	[Instance_Name] [nvarchar](255) NOT NULL,
	[Data] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_LNav2_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LNav2_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_LOGINS_MAIN_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOGINS_MAIN_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_Main_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Main_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_MAINTENANCE_MAIN_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_MAINTENANCE_MAIN_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_Performance_Counters]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Performance_Counters](
	[Date_Time] [datetime] NOT NULL,
	[Memory_Record_ID] [bigint] NULL,
	[Physical_Memory_Used_PCT] [decimal](18, 2) NULL,
	[Page_File_Used_PCT] [decimal](18, 2) NULL,
	[BufferCache_Max_Mem_KB] [bigint] NULL,
	[BufferCache_Target_Mem_KB] [bigint] NULL,
	[BufferCache_Commited_Mem_KB] [bigint] NULL,
	[BufferCache_Stolen_Mem_Ratio_PCT] [decimal](18, 2) NULL,
	[BufferCache_HitRatio_PCT] [decimal](18, 2) NULL,
	[BufferCache_PageLifeExpectancy_SEC] [bigint] NULL,
	[PlanCache_Total_KB] [bigint] NULL,
	[PlanCache_HitRatio_PCT] [decimal](18, 2) NULL,
	[SQL_Compilations_Ratio_PCT] [decimal](18, 2) NULL,
	[SQL_Re-Compilations_Ratio_PCT] [decimal](18, 2) NULL,
	[CPU_Record_ID] [bigint] NULL,
	[CPU_Usage_SQL_PCT] [decimal](18, 2) NULL,
	[CPU_Usage_Other_PCT] [decimal](18, 2) NULL,
	[CPU_Idle_PCT] [decimal](18, 2) NULL,
	[CPU_Tasks_Current] [bigint] NULL,
	[CPU_Tasks_Waiting] [bigint] NULL,
	[DISK_IO_Pending] [bigint] NULL,
	[User_Processes_Total] [bigint] NULL,
	[User_Processes_Active] [bigint] NULL,
	[User_Processes_Dormant_1hr] [bigint] NULL,
	[User_Processes_Dormant_12hr] [bigint] NULL,
	[User_Processes_Dormant_24hr] [bigint] NULL,
	[DBCC_Activity_Running] [bigint] NULL,
	[INDEX_Activity_Running] [bigint] NULL,
	[UPDSTATS_Activity_Running] [bigint] NULL,
	[BACKUP_Activity_Running] [bigint] NULL,
	[RESTORE_Activity_Running] [bigint] NULL,
	[Waits_Total] [bigint] NULL,
	[Waits_Lock] [bigint] NULL,
	[Waits_Latch] [bigint] NULL,
	[Waits_Buffer_Latch] [bigint] NULL,
	[Waits_Buffer_IO] [bigint] NULL,
	[Waits_Compilation] [bigint] NULL,
	[Waits_Scheduler_Yield] [bigint] NULL,
	[Waits_Logging] [bigint] NULL,
	[Waits_Network_IO] [bigint] NULL,
	[Waits_Parallelism] [bigint] NULL,
	[Waits_Memory] [bigint] NULL,
	[Waits_CLR] [bigint] NULL,
	[Waits_Mirroring] [bigint] NULL,
	[Waits_Transaction] [bigint] NULL,
	[Waits_Sleep] [bigint] NULL,
	[Waits_Other] [bigint] NULL,
	[TempDB_UserObjs_KB] [bigint] NULL,
	[TempDB_InternalObjs_KB] [bigint] NULL,
	[TempDB_VersionStore_KB] [bigint] NULL,
	[TempDB_UsedSpace_PCT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_date_time] PRIMARY KEY CLUSTERED 
(
	[Date_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_Replication_Status]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_Replication_Status](
	[Detail] [varchar](100) NULL,
	[EntryDt] [datetime] NULL,
	[Status] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_spaceused]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_spaceused](
	[Tot] [numeric](20, 4) NULL,
	[Used] [numeric](20, 4) NULL,
	[DB] [char](128) NULL,
	[Typ] [char](5) NULL,
	[EntryDt] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_SQLAnalyze_htm]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_SQLAnalyze_htm](
	[detail] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TempForDataFile]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TempForDataFile](
	[File Id] [smallint] NULL,
	[Group Id] [smallint] NULL,
	[Total Extents] [int] NULL,
	[Used Extents] [int] NULL,
	[File Name] [nvarchar](128) NULL,
	[Physical File] [nvarchar](1000) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TempForFileStats]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_TempForFileStats](
	[Server Name] [nvarchar](40) NULL,
	[Database Name] [nvarchar](128) NULL,
	[File Name] [nvarchar](150) NULL,
	[Usage Type] [varchar](6) NULL,
	[Size (MB)] [real] NULL,
	[Space Used (MB)] [real] NULL,
	[MaxSize (MB)] [real] NULL,
	[Next Allocation (MB)] [real] NULL,
	[Growth Type] [varchar](12) NULL,
	[File Id] [smallint] NULL,
	[Group Id] [smallint] NULL,
	[Physical File] [nvarchar](1000) NULL,
	[Disk FreeSpace (MB)] [int] NULL,
	[Date Checked] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_TempForFreeSpace]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_TempForFreeSpace](
	[Drive] [varchar](1) NULL,
	[Disk FreeSpace (MB)] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_TempForLogFile]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_TempForLogFile](
	[File Id] [int] NULL,
	[Size (Bytes)] [real] NULL,
	[Start Offset] [varchar](100) NULL,
	[FSeqNo] [int] NULL,
	[Status] [int] NULL,
	[Parity] [smallint] NULL,
	[CreateTime] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_wait_sessions]    Script Date: 03/11/2015 10:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_wait_sessions](
	[date_time] [datetime] NOT NULL,
	[server_name] [nvarchar](128) NULL,
	[session_id] [smallint] NOT NULL,
	[blocked_by] [smallint] NULL,
	[db_name] [nvarchar](128) NULL,
	[status] [nvarchar](30) NOT NULL,
	[start_time] [datetime] NOT NULL,
	[wait_type] [nvarchar](60) NULL,
	[wait_time] [int] NOT NULL,
	[wait_resource] [nvarchar](256) NOT NULL,
	[cpu_time] [int] NOT NULL,
	[reads] [bigint] NOT NULL,
	[writes] [bigint] NOT NULL,
	[login_name] [nvarchar](128) NOT NULL,
	[login_time] [datetime] NOT NULL,
	[host_name] [nvarchar](128) NULL,
	[Program_Name] [nvarchar](128) NULL,
	[cmd_type] [nvarchar](16) NOT NULL,
	[cmd_statement] [nvarchar](max) NULL,
	[cmd_complete] [nvarchar](max) NULL,
	[Plan_Handle] [varbinary](64) NULL,
	[QUERY_PLAN] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [msdb]
GO
ALTER TABLE [dbo].[backupset]  WITH CHECK ADD FOREIGN KEY([media_set_id])
REFERENCES [dbo].[backupmediaset] ([media_set_id])
GO
